@import "variables";
@import "ui-variables";

.sheet{
  margin-top: -8px;
}

.sheet-toolbar{
  .item-back{
    img.content-mask{
      background-color: @sidebar-fg-color;
    }
    .item-back-title{
      color: @sidebar-fg-color;
    }
  }
}

// .sheet-toolbar-container.mode-split{
//
// }
//
// .preferences-wrap {
//   .preferences-sidebar{
//     background: @sidebar-bg;
//     color: @sidebar-fg-color;
//     * {
//       background: @sidebar-bg;
//       color: @sidebar-fg-color;
//     }
//     .item.active, .item.active *, .subitem.active, .subitem.active *, .item.active:not(.has-subitems) .name {
//       background: @taiga-accent;
//       border-radius: 4px;
//       color: @white;
//     }
//   }
// }
