/**
 * Colors
 */
// @taiga-light: darken(#A3ACB1, 10%);
@taiga-light: #555;
@taiga-lighter: #F0F7FA;
@taiga-dark: darken(#727C83, 4%);
@taiga-accent: #5DADE1;
@white: #ffffff;
@search-input-bg: #eee;

/**
 * Sidebar Colors
 */

@ido-sidebar--default: #3a5559;
@ido-sidebar--midnight: #1e1a4a;
@ido-sidebar--dusk: #4d4175;
@ido-sidebar--firebrick: #4d4175;
@ido-sidebar--forest: #4d4175;
@ido-sidebar--polymail: #232e44;

@sidebar-bg: @ido-sidebar--default;
@sidebar-active-item-bg: desaturate(lighten(@sidebar-bg, 11%), 10%);
@sidebar-active-hi-item-bg: desaturate(lighten(@sidebar-active-item-bg, 25%), 15%);
@sidebar-fg-color: lighten(#d5d5d5, 10%);
@sidebar-heading-fg: #fff;
@sidebar-bg-hl: #4B7980;
@sidebar-fg-color-hl: #DAEBED;

@thread-text-color: #586C80;

/**
 * Borders
 */
@base-border-radius: 4px;
@border-color: #E3E8EB;
